In [2]:
import os
import pandas as pd
import numpy as np
import glob
import cv2

In [3]:
DATA_PATH = os.path.abspath( os.path.join('..', 'data'))
FRAMES_PATH = os.path.join(DATA_PATH, 'frames')

In [6]:
# data_list = glob.glob(os.path.join(FRAMES_PATH, '*.jpg'))
# # data_list = os.listdir(FRAMES_PATH)
# data_df = pd.DataFrame(data={'image': data_list, 'ladle_class': [np.nan]*len(data_list)})
# data_df.head(5)

                                               image  ladle_class
0  D:\Projects\metal_classification\data\frames\1...          NaN
1  D:\Projects\metal_classification\data\frames\1...          NaN
2  D:\Projects\metal_classification\data\frames\1...          NaN
3  D:\Projects\metal_classification\data\frames\1...          NaN
4  D:\Projects\metal_classification\data\frames\1...          NaN

In [7]:
data_df.to_csv('data_df.csv', index=False)

In [9]:
data_df = pd.read_csv('data_df.csv')
data_df.head(5)

                                               image  ladle_class
0  D:\Projects\metal_classification\data\frames\1...          NaN
1  D:\Projects\metal_classification\data\frames\1...          NaN
2  D:\Projects\metal_classification\data\frames\1...          NaN
3  D:\Projects\metal_classification\data\frames\1...          NaN
4  D:\Projects\metal_classification\data\frames\1...          NaN

Ladle labeling

In [13]:
from pigeon import annotate
from IPython.display import display, Image

# df with nan ladle classes
nan_df = data_df[data_df['ladle_class'].isna()]

print(f'{nan_df.shape[0]} nan ladle class rows')

new_values_list = nan_df['ladle_class'].to_list()

images_list = nan_df['image'].to_list()
annotations = annotate(images_list,
                      options = ['no_ladle', 'opened_ladle', 'closed_ladle'],
                      display_fn = lambda filename: display(Image(filename))
                      )

10246 nan ladle class rows

HTML(value='0 examples annotated, 10247 examples left')

HBox(children=(Button(description='no_ladle', style=ButtonStyle()), Button(description='opened_ladle', style=Bâ€¦

Output()

In [14]:
annotations

[('D:\\Projects\\metal_classification\\data\\frames\\120210923001407_550_1.jpg',
  'no_ladle'),
 ('D:\\Projects\\metal_classification\\data\\frames\\120210923001407_550_10.jpg',
  'no_ladle'),
 ('D:\\Projects\\metal_classification\\data\\frames\\120210923001407_550_100.jpg',
  'no_ladle')]

In [88]:
path, ladle_class = row[1]

In [89]:
path, ladle_class

('D:\\Projects\\metal_classification\\data\\frames\\120210923001407_550_1.jpg',
 nan)